.individual {
    font-size: 25px;
    text-transform: capitalize;
    cursor: pointer;
}


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: #FCECEF;
    font-family: "Montserrat";
}

label {
    text-transform: capitalize;
}

#sign-up {
    color: white;
    text-transform: capitalize;
}

button[type=submit] {
    background-color: #9CC2D5;
    border: none;
    color: black;
}

form {
    font-weight: bold;
}

button[type=submit]:hover {
    color: white;
}

#fpass {
    text-decoration: none;
    color: #9CC2D5;
    font-weight: lighter;
    text-transform: lowercase;
}

input {
    border-radius: 100px;
}

.side-navigation {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: #333D7B;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: all .5s;
}

.navigate {
    list-style-type: none;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}

main {
    overflow-x: hidden;
    transition: all .5s;
}

a {
    text-decoration: none;
}

.navigate li a {
    color: white;
}

.navigate li:hover {
    background-color: #9CC2D587;
}

.navigate li {
    padding: 5px;
    border-radius: 10px;
    transition: all 0.5s;
}

.navbar-nav li a {
    color: white;
    text-transform: capitalize;
}

.navbar-nav li a:hover {
    background-color: #9CC2D587;
    color: white;
}

.appointment,
.prescription {
    list-style-type: none;
    justify-content: space-around;
    margin-top: 15px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

.appointment li,
.prescription li {
    /* text-align: center; */
    flex: 16.6%;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width:992px) {
    body {
        background-color: #333D7B;
    }
}

#patientDetails {
    margin-left: 250px;
}

@media screen and (max-width:768px) {
    .side-navigation {
        width: 0;
    }
    #patientDetails {
        margin-left: 0px;
    }
}

.appointment li:first-child {
    flex-basis: 5%;
    text-align: center;
}

.appointment:first-child li,
.prescription:first-child li {
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
}

@media screen and (max-width:550px) {
    .appointment:first-child li,
    .prescription:first-child li {
        font-weight: bold;
        font-size: 12px;
        text-transform: capitalize;
    }
    .prescription li {
        font-size: 12px;
    }
    .appointment li {
        font-size: 12px;
        /* font-weight: bold; */
    }
}

#password,
#email {
    height: 50px;
    border-radius: 10px;
}

#login,
#signUp {
    border-radius: 10px;
    box-shadow: 0 2px 3px #9CC2D5;
}

input,
select,
input[type=text],
input[type=phone],
input[type=password],
input[type=email] {
    background-color: #FCECEF;
    height: 50px;
    border-radius: 10px;
    outline: none;
}

button,
button[type="submit"] {
    border-radius: 10px;
}

#greeting {
    font-weight: 900;
}

input[type=radio] {
    height: auto;
}